*{
  padding: 0px;
  margin: 0px;
}

header{
  margin: 0px;
  padding: 2% 5%;
  width: 100%;
  box-sizing: border-box;
  color: aliceblue;
  display: flex;
  vertical-align: center;
  justify-content: space-between;
}

header h3{
  display: inline-block;
  border: white solid 2px;
}

form{
  display: inline-block;
}

input{
  margin: 5px 10px 0px 10px;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
}
